@media (min-width: 641px) {
  .container123 {
    display: grid;
    grid-template-columns: 1.5fr 10fr;
    height: 100vh;
  }
}

/* .left-section {
  background-color: #191919; 
}

.middle-section {
  background-color: #191919;
}

.right-section {
  background-color: #191919; 
} */
